main {
  display: flex;
  flex-direction: column;
}
#input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
input {
  margin: 10px;
}
label {
  display: flex;
  align-items: center;
}
img,
canvas {
  width: 900px;
  height: 900px;
  display: block;
  border: 1px solid black;
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.line {
  stroke: blue;
  stroke-width: 0.7px;
  stroke-linecap: square;
}

.handle {
  fill: blue;
  pointer-events: all;
  stroke: blue;
  stroke-width: 2px;
  cursor: move;
  opacity: 0.8;
}
